.header {
  background-color: orange;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.cart-div {
  heigh: 40px;
  width: 40px;
  margin: auto 30px;
  position: relative;
}

.cart-div img {
  width: 30px;
  height: 30px;
}

.cart-div .cart-no-container {
  position: absolute;
  right: 0;
  top: -10px;
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.main-container {
  display: flex;
  justify-content: center;
  gap:20px;
  margin: 20px 0;
}

